/* Estilo base do header */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1em;
  background-color: #FFFFFF;
}

.Header .logo {
  font-size: 24px;
  font-weight: bold;
}

.Header .nav_links {
  color: black;
  display: flex;
  gap: 2em;
}

.Header a{
  text-decoration: none;
  color: black;
}

.Header a:hover{
  color: orangered;
}

.Header .hamburguer_icon {
  display: none;
}

.Header .menu_modal {
  display: none;
}

@media (max-width: 768px) {
  .Header {
    flex-direction: column;
  }

  .Header .nav_links {
    display: none;
    flex-direction: column;
  }

  .Header .hamburguer_icon {
    display: block;
    cursor: pointer;
  }

  .Header .menu_modal.active {
    display: block;
  }
}